// Color Scheme
$red_brown: #9E2A2B;
$light_steel_blue: #B4C5E4;

* {
    margin: 0;
    padding: 0;
}

header {
    background: url("https://images.pexels.com/photos/1310847/pexels-photo-1310847.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    form {
        margin-left: 20px;
        .row {
            margin: 30px 0 0 30px;
            display: inline-block;
            #input1, #input2 {
                padding: 5px;
                font-weight: bold;
                color: $light_steel_blue;
                float: left;
                text-align: center;
                border: 1px solid $red_brown;
                background-color: $light_steel_blue;
                color: $red_brown;
            }
            #btn1, #btn2 {
                margin-top: 10px;
                padding: 5px;
                border: none;
                border-radius: 5px;
                background-color: $red_brown;
                color: $light_steel_blue;
                cursor: pointer;
            }
        }
    }
}

#sect-1 {
    display: none;
    background-color: $red_brown;
    color: $light_steel_blue;
    height: 100vh;
    .row {
        height: 100%;
        width: 95%;
        margin: auto;
        .trainer-box-1 {
            height: 80vh;
            margin: auto;
            h3 {
                text-align: center;
            }
            img {
                margin: 100px 0 0 220px;
                width: 150px;
            }
        }
        .poke-box-1 {
            height: 80vh;
            margin: auto;
                .carousel-container {
                    height: 70%;
                    margin: auto;
                    .poke-1 {
                        height: 50vh; 
                        margin-top: 100px;
                        .title-container {
                            text-align: center;
                        }
                        .col-6 {
                            .poke-info-head {
                                height: 20%;
                            }
                            #poke-1-info {
                                height: 80%;
                            }
                        }
                    }
                    .poke-2 {
                        height: 50vh; 
                        margin-top: 100px;
                        .title-container {
                            text-align: center;
                        }
                        .col-6 {
                            .poke-info-head {
                                height: 20%;
                            }
                            #poke-2-info {
                                height: 80%;
                            }
                        }
                    }
                    .poke-3 {
                        height: 50vh; 
                        margin-top: 100px;
                        .title-container {
                            text-align: center;
                        }
                        .col-6 {
                            .poke-info-head {
                                height: 20%;
                            }
                            #poke-3-info {
                                height: 80%;
                            }
                        }
                    }
                }
            
        }
    }
}

#sect-2 {
    display: none;
    background-color: $light_steel_blue;
    color: $red_brown;
    height: 100vh;
    .row {
        height: 100%;
        width: 95%;
        margin: auto;
        .trainer-box-2 {
            height: 80vh;
            margin: auto;
            h3 {
                text-align: center;
            }
            img {
                margin: 100px 0 0 220px;
                width: 180px;
            }
        }
        .poke-box-2 {
            height: 80vh;
            margin: auto;
                .carousel-container {
                    height: 70%;
                    margin: auto;
                    .poke-4 {
                        height: 50vh; 
                        margin-top: 100px;
                        .title-container {
                            text-align: center;
                        }
                        .col-6 {
                            .poke-info-head {
                                height: 20%;
                            }
                            #poke-4-info {
                                height: 80%;
                            }
                        }
                    }
                    .poke-5 {
                        height: 50vh; 
                        margin-top: 100px;
                        .title-container {
                            text-align: center;
                        }
                        .col-2 {
                            margin-left: 150px;
                            img {
                                padding-left: 20px;
                            }
                        }
                        .col-6 {
                            padding-left: 60px;
                            .poke-info-head {
                                height: 20%;
                            }
                            #poke-6-info {
                                height: 80%;
                            }
                        }
                    }
                    .poke-6 {
                        height: 50vh; 
                        margin-top: 100px;
                        .title-container {
                            text-align: center;
                        }
                        .col-6 {
                            .poke-info-head {
                                height: 20%;
                            }
                            #poke-6-info {
                                height: 80%;
                            }
                        }
                    }
                }
            
        }
    }
}

footer {
    background-color: $red_brown;
    color: $light_steel_blue;
    height: 25px;
}