// Color Scheme
$poke_light_blue: #048BA8;
$lavender_mist: #EDE6F2;

* {
    margin: 0;
    padding: 0;
}

header {
    background: url("https://images.pexels.com/photos/1310847/pexels-photo-1310847.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    ul {
        width: 80%;
        margin: auto;
        .m-5 {
            padding: 10px;
            list-style: none;
            font-weight: bold;
            color: $lavender_mist;
            background-color: $poke_light_blue;
            float: left;
            font-weight: bold;
            margin: 25px 40px 0 0;
            text-align: center;
        }
    }
}

#sect-1 {
    background-color: $poke_light_blue;
    color: $lavender_mist;
    height: 100vh;
    .carousel-container {
        height: 70%;
        margin: auto;
    }
}

#sect-2 {
    background-color: $lavender_mist;
    color: $poke_light_blue;
    height: 100vh;
    .carousel-container {
        height: 70%;
        margin: auto;
    }
}

footer {
    background-color: $poke_light_blue;
    color: $lavender_mist;
    height: 25px;
}