* {
  margin: 0;
  padding: 0;
}

header {
  background: url("https://images.pexels.com/photos/1310847/pexels-photo-1310847.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}
header form {
  margin-left: 20px;
}
header form .row {
  margin: 30px 0 0 30px;
  display: inline-block;
}
header form .row #input1, header form .row #input2 {
  padding: 5px;
  font-weight: bold;
  color: #B4C5E4;
  float: left;
  text-align: center;
  border: 1px solid #9E2A2B;
  background-color: #B4C5E4;
  color: #9E2A2B;
}
header form .row #btn1, header form .row #btn2 {
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #9E2A2B;
  color: #B4C5E4;
  cursor: pointer;
}

#sect-1 {
  display: none;
  background-color: #9E2A2B;
  color: #B4C5E4;
  height: 100vh;
}
#sect-1 .row {
  height: 100%;
  width: 95%;
  margin: auto;
}
#sect-1 .row .trainer-box-1 {
  height: 80vh;
  margin: auto;
}
#sect-1 .row .trainer-box-1 h3 {
  text-align: center;
}
#sect-1 .row .trainer-box-1 img {
  margin: 100px 0 0 220px;
  width: 150px;
}
#sect-1 .row .poke-box-1 {
  height: 80vh;
  margin: auto;
}
#sect-1 .row .poke-box-1 .carousel-container {
  height: 70%;
  margin: auto;
}
#sect-1 .row .poke-box-1 .carousel-container .poke-1 {
  height: 50vh;
  margin-top: 100px;
}
#sect-1 .row .poke-box-1 .carousel-container .poke-1 .title-container {
  text-align: center;
}
#sect-1 .row .poke-box-1 .carousel-container .poke-1 .col-6 .poke-info-head {
  height: 20%;
}
#sect-1 .row .poke-box-1 .carousel-container .poke-1 .col-6 #poke-1-info {
  height: 80%;
}
#sect-1 .row .poke-box-1 .carousel-container .poke-2 {
  height: 50vh;
  margin-top: 100px;
}
#sect-1 .row .poke-box-1 .carousel-container .poke-2 .title-container {
  text-align: center;
}
#sect-1 .row .poke-box-1 .carousel-container .poke-2 .col-6 .poke-info-head {
  height: 20%;
}
#sect-1 .row .poke-box-1 .carousel-container .poke-2 .col-6 #poke-2-info {
  height: 80%;
}
#sect-1 .row .poke-box-1 .carousel-container .poke-3 {
  height: 50vh;
  margin-top: 100px;
}
#sect-1 .row .poke-box-1 .carousel-container .poke-3 .title-container {
  text-align: center;
}
#sect-1 .row .poke-box-1 .carousel-container .poke-3 .col-6 .poke-info-head {
  height: 20%;
}
#sect-1 .row .poke-box-1 .carousel-container .poke-3 .col-6 #poke-3-info {
  height: 80%;
}

#sect-2 {
  display: none;
  background-color: #B4C5E4;
  color: #9E2A2B;
  height: 100vh;
}
#sect-2 .row {
  height: 100%;
  width: 95%;
  margin: auto;
}
#sect-2 .row .trainer-box-2 {
  height: 80vh;
  margin: auto;
}
#sect-2 .row .trainer-box-2 h3 {
  text-align: center;
}
#sect-2 .row .trainer-box-2 img {
  margin: 100px 0 0 220px;
  width: 180px;
}
#sect-2 .row .poke-box-2 {
  height: 80vh;
  margin: auto;
}
#sect-2 .row .poke-box-2 .carousel-container {
  height: 70%;
  margin: auto;
}
#sect-2 .row .poke-box-2 .carousel-container .poke-4 {
  height: 50vh;
  margin-top: 100px;
}
#sect-2 .row .poke-box-2 .carousel-container .poke-4 .title-container {
  text-align: center;
}
#sect-2 .row .poke-box-2 .carousel-container .poke-4 .col-6 .poke-info-head {
  height: 20%;
}
#sect-2 .row .poke-box-2 .carousel-container .poke-4 .col-6 #poke-4-info {
  height: 80%;
}
#sect-2 .row .poke-box-2 .carousel-container .poke-5 {
  height: 50vh;
  margin-top: 100px;
}
#sect-2 .row .poke-box-2 .carousel-container .poke-5 .title-container {
  text-align: center;
}
#sect-2 .row .poke-box-2 .carousel-container .poke-5 .col-2 {
  margin-left: 150px;
}
#sect-2 .row .poke-box-2 .carousel-container .poke-5 .col-2 img {
  padding-left: 20px;
}
#sect-2 .row .poke-box-2 .carousel-container .poke-5 .col-6 {
  padding-left: 60px;
}
#sect-2 .row .poke-box-2 .carousel-container .poke-5 .col-6 .poke-info-head {
  height: 20%;
}
#sect-2 .row .poke-box-2 .carousel-container .poke-5 .col-6 #poke-6-info {
  height: 80%;
}
#sect-2 .row .poke-box-2 .carousel-container .poke-6 {
  height: 50vh;
  margin-top: 100px;
}
#sect-2 .row .poke-box-2 .carousel-container .poke-6 .title-container {
  text-align: center;
}
#sect-2 .row .poke-box-2 .carousel-container .poke-6 .col-6 .poke-info-head {
  height: 20%;
}
#sect-2 .row .poke-box-2 .carousel-container .poke-6 .col-6 #poke-6-info {
  height: 80%;
}

footer {
  background-color: #9E2A2B;
  color: #B4C5E4;
  height: 25px;
}

/*# sourceMappingURL=style.css.map */
